name: Deploy using Argocd

on:
  workflow_run:
    workflows: ["Build and push to Docker hub"]
    types:
      - completed

jobs:
  Deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3 

      - name: Download VERSION TAG
        uses: actions/download-artifact@v3
        with:
          name: version-tag

      - name: Read version
        id: version
        run: echo "VERSION_TAG=$(cat version.txt)" >> $GITHUB_ENV

      - name: Update K8S Manifest file
        run: |
          cat k8s_manifest_file/deployment.yaml
          sed -i "s|image: akshayb412/wheatherapp:.*|image: akshayb412/wheatherapp:${{ env.VERSION_TAG }}|g" k8s_manifest_file/deployment.yaml
          cat k8s_manifest_file/deployment.yaml

      - name: push Manifest file and update image tag   
        run: |
            git config --global user.email "<akshaybombale70@gmail.com>"
            git config --global user.name "GitHub Actions Bot" 
            git add k8s_manifest_file/deployment.yaml
            git commit -m "Update deploy.yaml with new image version - ${{ env.VERSION }}"
            git remote set-url origin https://github-actions:${{ secrets.GITHUB_TOKEN }}@github.com/akshaybombale/wheather_app.git
            git push origin main