name: Automation using Github action for Wheatherapp Application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
    
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3   
    
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8
            
       # - name: Check code quality  
       # run: | 
       #   flake8 --ignore=E501,F401 . 

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}  

      - name: Generate random version tag
        run: | 
          echo "VERSION_TAG=$RANDOM" >> $GITHUB_ENV 
            
      - name: Docker build
        run: |
          docker build -t akshayb412/wheatherapp:${{ env.VERSION_TAG }} .
      
      - name: Push Docker image
        run: | 
          docker push akshayb412/wheatherapp:${{ env.VERSION_TAG }}
